# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Dataset
# ----------------------------
ai/dataset/plantnet_300K/

# ----------------------------
# Training Outputs
# ----------------------------
ai/checkpoints/
ai/exports/
ai/runs/
logs/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Operating System
# ----------------------------
.DS_Store
Thumbs.db